// .index__h1 {
//   color:#00cc99;
//   font-size: 20px;
//   font-weight: 400;
// }
.banner{
  background-image: url('../images/bg_home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 205px 0;
  text-align: center;
}

.banner-content {
  padding: 47px 75px;
  border: 1px solid #fff;
}

.square {
  width: 10px;
  height: 10px;
  background-color: #fff;
}
/* Vertical gradient, from top to bottom */
@mixin gradient-y($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {
  background-image: linear-gradient(180deg, $start-color $start-percent, $end-color $end-percent);
}
.gradient-y{
  @include gradient-y;
}
.text-gradient-y{
  @include gradient-y;
  background-clip: text;
  color: transparent;
}
h1{
  font-size: 48px;
  line-height: 70px;
  margin-bottom: 0;
}
.product-introduction{
  box-shadow: 0px 0px 32px #00000058;
}
.product-introduction-data{
  padding: 80px 0;

}
.border-style{
  border-bottom: 3px solid $primary;
  width: 50px;
}
.product-card{
  // width: 306px;
  padding: 48px 24px;
  &:hover{
    border: 1px solid $primary;
    border-radius: 25%;
  }
}
.img-style2{
  width: 40px;
  height: 40px;
}
.class-process{
  padding-top: 80px;
  padding-bottom: 80px;
  .class-process-title{
    padding-bottom: 74px;
    
  }
  .class-procces-card{
    border: 1px solid $white;
    // padding: 48px;
    max-width: 306px;
    border-radius: 12px;
  }
}
@media (max-width:376px){
  .class-process{
  .class-procces-card{
   max-width: 336px;
    }
  }
}
.course-menu{
  padding-bottom: 80px;
  .course-menu-title{
    padding-top: 80px;
    padding-bottom: 48px;
  }
}

.course-data{
  padding-top: 80px;
  padding-bottom: 80px;
}

.course-list{
  margin-bottom: 56px;
  .card{
    border-radius: 24px;
    max-height: 100%;
    // .card-content{
    //   width: 258px;
    // }
  }
}
.course-btn{
  width: 172px;
}
.course-benefits{
  .course-benefits-card{
    background-image: url('../images/info01.jpg'),url('../images/info02.jpg'),url('../images/info03.jpg'),url('../images/info04.jpg');
    background-size: 25.5% 100%;
    background-repeat: no-repeat;
    background-position: 0% 0,33% 0%,66% 0,100% 0;
    padding: 256px 0;
    text-align: left;
    opacity: 0.9;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    .course-benefits-card-title{
      padding: 0 48px;
    }
  }
}
@media(max-width:992px){
  .course-benefits{
    .course-benefits-card{
      background-size: 50% 50%;
      background-position: 0% 0,100% 0,-1% 0;
    }
}
}
.course-article{
  padding-top: 80px;
  padding-bottom: 80px;

}
.squareRounded {
  display: none;
  width: 32px;
  height: 32px;
  &-topLeft {
    border-top: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-top-left-radius: 10px;
  }
  &-topRight {
    border-top: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-top-right-radius: 10px;
  }
  &-bottomLeft {
    border-bottom: 2px solid #62DB54;
    border-left: 2px solid #62DB54;
    border-bottom-left-radius: 10px;
  }
  &-bottomRight {
    border-bottom: 2px solid #62DB54;
    border-right: 2px solid #62DB54;
    border-bottom-right-radius: 10px;
  }
}
.card:hover {
  .squareRounded {
    display: block;
  }
}

.opac-1{
  opacity: 0.5;
}
.opac-2{
  opacity: 0.5;
}

.feedback {
  background-image: url('../images/bg_share.jpg');
  height: 733px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
  @media (max-width:991px) {
    height: auto;
  }
}

.swiper {
  width: 100%;
  height: 429px;
  @media (max-width:991px) {
    height: auto;
  }
  &-img {
    top: 0;
    left: 10px;
    width: 60%;
    height: 90%;
    border-radius: 24px;
    position: absolute;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border: 1px solid #7C7E77;
      border-radius: 24px;
      left: -10px;
      top: 10px;
      z-index: -1;
      @media (max-width:991px) {
        left: -5px;
        top: 5px;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 24px;
    }
    @media (max-width:991px) {
      position: relative;
      width: calc(100% - 5px);
      height: 213px;
      left: 5px;
      margin-bottom: 40px;
    }
  }
  .card {
    width: 45%;
    padding: 32px;
    border-radius: 24px 24px 24px 0;
    bottom: 0;
    right: 0;
    position: absolute;
    color: #000;
    display: flex;
    flex-direction: column;
    h3 {
      font-size: 18px;
    }
    &-img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      position: absolute;
      right: 32px;
      bottom: 100%;
      transform: translateY(50%);
      @media (max-width:991px) {
        width: 80px;
        height: 80px;
        right: 24px;
        top: -30px;
        bottom: auto;
        transform: none;
      }
    }
    @media (max-width:991px) {
      position: relative;
      width: 100%;
      padding: 24px;
      margin-bottom: 32px;
    }
  }

  .swiper-button-next:after, .swiper-button-prev:after {
    content: '';
  }

  &-button-next, &-button-prev {
    position: unset;
    width: 24px;
    // height: 24px;
    margin-top: 0;
    color: #62DB54;
  }

  .swiper-pagination {
    position: unset;
    width: auto;
    .swiper-pagination-bullet {
      background-color: #62DB54;
      opacity: initial;
      &-active {
        width: 16px;
        border-radius: 100px;
      }
    }
  }

  &-buttons {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    z-index: 10;
    position: absolute;
    @media (max-width: 991px) {
      position: initial;
      transform: none;
    }
  }
}