.nav-link{
    padding: 16px 0 16px 48px;
    color: #fff;
    &:hover{
        color: $primary;
    }
}

.footer{
    background-color: #1A1A1A;
    color: #fff;
}

.fz-style-1{
    font-size: 18px;
    line-height: 26px;
    color: $white;
}

