.class-btn-menu{
    padding-top: 44px;
    padding-bottom: 48px;
}
.btn{
    &:hover{
        color:#62DB54;
        background: $dark-2;
        border: 1px solid #62DB54;
    }
}


/* Horizontal gradient, from left to right */
@mixin gradient-x($start-color: $primary, $end-color: $secondary, $start-percent: null, $end-percent: null) {
    background-image: linear-gradient(104deg, $start-color $start-percent, $end-color $end-percent);
  }
  .gradient-x{
    @include gradient-x;
  }